# Data Investigation with Pandas Assignment

## 1.0 Importing our Libraries

In [3]:
# Importing the libraries we will need

# Importing the pandas library
import pandas as pd

# Importing the numpy library
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains information about the 2009 Census - The Rural Urban Population by Age, Sex and District.

In [4]:
# Let's read the data from the CSV file and create the dataframe to be used
data=pd.read_csv("C:/Users/win/Documents/Python Scripts/Assignment/Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv")
data.head()

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4

## 1.2 Previewing our Dataset

In [4]:
# Let's preview the first 10 rows of our data
data.head(10)

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4
5,NAIROBI WEST,Urban,5,7547,7660,15207,Nairobi,NAIROBI,5
6,NAIROBI WEST,Urban,6,6966,7082,14048,Nairobi,NAIROBI,6
7,NAIROBI WEST,Urban,7,6511,6674,13185,Nairobi,NAIROBI,7
8,NAIROBI WEST,Urban,8,6171,6489,12660,Nairobi,NAIROBI,8
9,NAIROBI WEST,Urban,9,6361,6662,13023,Nairobi,NAIROBI,9

In [5]:
data['Age_years'].unique()

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80+', 'Age NS'], dtype=object)

## 1.3 Accessing Information about our Dataset

In [10]:
# We can getting to know more about the dataset by accessing its information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25420 entries, 0 to 25419
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     25420 non-null  object
 1   Urban/Rural  25420 non-null  object
 2   Age_years    25420 non-null  object
 3   Male         25420 non-null  int64
 4   Female       25420 non-null  int64
 5   Total        25420 non-null  int64
 6   County       25420 non-null  object
 7   Province     25420 non-null  object
 8   OBJECTID     25420 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.7+ MB

## 1.4 Answering Questions

Let's answer the following questions with our dataset

In [18]:
# Challenge 1
# What was the average age of a person of Kenya?
df=data.loc[(data["Age_years"]!="80+") & (data["Age_years"]!="Age NS")]
df.tail()
df["Age_years"]=pd.to_numeric(df["Age_years"],errors='coerce')
df['Age_years'].unique()

C:\Users\win\AppData\Local\Temp\ipykernel_5620\4208095775.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age_years"]=pd.to_numeric(df["Age_years"],errors='coerce')

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79], dtype=int64)

In [19]:
df.dtypes

District       object
Urban/Rural    object
Age_years       int64
Male            int64
Female          int64
Total           int64
County         object
Province       object
OBJECTID        int64
dtype: object

In [20]:
# Challenge 2
# What was the average female population in Kenya?
df["Female"].mean()

773.5264112903226

In [21]:
# Challenge 3
# What was the average male population in Kenya?
df["Male"].mean()

767.0102822580645

In [22]:
# Challenge 4
# Which 5 districts were the most densely populated Kenya in descending order?
sorted_data=data.sort_values(by="Total", ascending=False)
sorted_data.head()

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
108,NAIROBI EAST,Urban,25,21383,23090,44473,Nairobi,NAIROBI,108
113,NAIROBI EAST,Urban,30,23060,18937,41997,Nairobi,NAIROBI,113
189,NAIROBI NORTH,Urban,25,20175,20637,40812,Nairobi,NAIROBI,189
107,NAIROBI EAST,Urban,24,18028,20785,38813,Nairobi,NAIROBI,107
106,NAIROBI EAST,Urban,23,16882,21301,38183,Nairobi,NAIROBI,106

In [23]:
# Challenge 5
# Which 5 counties were the most densely populated Counties in descending order?
data.County.nunique()
county_data=data.groupby("County")["Total"].sum()
dense_county=county_data.sort_values(ascending=False)
dense_county.head()

County
Nairobi     3138369
Kiambu      1673785
Kakamega    1660651
Nakuru      1603325
Meru        1591533
Name: Total, dtype: int64

In [24]:
# Challenge 6
# Which 5 districts were the most sparsely populated in descending order?
data.District.nunique()
district_data=data.groupby("District")["Total"].sum()
dense_district=district_data.sort_values(ascending=True)
dense_district.head()

District
LAIKIPIA NORTH    32762
GARBATULLA        43118
MARSABIT          46502
SAMBURU EAST      59094
SAMBURU NORTH     59801
Name: Total, dtype: int64

In [25]:
# Challenge 7
# What was the average population of the the most densely populated county in Kenya?
nairobi_data=data[data["County"]=="Nairobi"]
nairobi_data["Total"].mean()

9568.198170731708

In [26]:
# Challenge 8
# What was the average population of the the most sparsely populated county in Kenya?
lamu_data=data[data["County"]=="Lamu"]
lamu_data["Total"].mean()

619.140243902439

In [29]:
# Challenge 9
# What was the total population of Busia County?
busia_data=df[df["County"]=="Busia"]
busia_data["Total"].sum()

737249

In [32]:
# Challenge 10 -solution A
# What was the average age of person in Busia County? 
avg_busia=busia_data["Age_years"].mean()
avg_busia
#age_39=busia_data[busia_data["Age"]==39]
#age_39["Total"].sum()

39.5

In [42]:
# Challenge 10-Solution B
# What was the average age of person in Busia County? 
busia_data["Total_Age"]=busia_data["Total"]*busia_data["Age_years"]
age_sum=busia_data["Total_Age"].sum()
total_sum=busia_data["Total"].sum()
avg_age=age_sum/total_sum
avg_age

C:\Users\win\AppData\Local\Temp\ipykernel_5620\3666315254.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  busia_data["Total_Age"]=busia_data["Total"]*busia_data["Age_years"]

20.150013089200527

In [44]:
# Challenge 10 B
#How many people of this age were in Busia County?
age_20=busia_data[busia_data["Age_years"]==20]
age_20
age_20["Total"].sum()

17217

In [54]:
# Challenge 11
# What was the Total population of Teso South District?
#teso=data[data["District"]=="TESO SOUTH"]
teso_data=data[data["District"]=="TESO SOUTH"]
teso_data["Total"].sum()

137924

In [56]:
# Challenge 12
# What was the urban population of Teso South District?
teso_urban=teso_data[teso_data["Urban/Rural"]=="Urban"]
teso_urban["Total"].sum()

26162

In [58]:
# Challenge 13
# What was the rural population of Teso South District?
teso_rural=teso_data[teso_data["Urban/Rural"]=="Rural"]
teso_rural["Total"].sum()

111762

In [61]:
# Challenge 14
# What was the population of people aged 60 and above in Kenya?
above_60=df[df["Age_years"]>=60]
above_60["Total"].sum()

1542350

In [62]:
# Challenge 15
# What was the urban population in Kenya?
urban_pop=df[df["Urban/Rural"]=="Urban"]
urban_pop["Total"].sum()

12401054

In [63]:
# What was the rural population in Kenya?
rural_pop=df[df["Urban/Rural"]=="Rural"]
rural_pop["Total"].sum()

25804256

In [64]:
12401054+25804256

38205310

In [65]:
df['Total'].sum()

38205310